/*to 980px center*/
.global-center {
  margin-left: auto;
  margin-right: auto;
  width: 980px; }

/*for ie6/7*/
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

body, p, span, ul, li, .circles, .circles ul, .display, .display ul, .news, .news .news_list .news_item .detail {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  background-color: #ddece7; }

.content {
  width: 100%;
  height: auto;
  ovweflow: hidden; }

.carousel {
  margin-top: 18px;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden; }
  .carousel ul {
    height: 490px;
    overflow: hidden; }
    .carousel ul li {
      width: 1366px;
      height: 490px;
      float: left; }
      .carousel ul li img {
        display: block;
        width: 1366px;
        height: 490px; }

.circles {
  width: 200px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 500px;
  z-index: 2; }
  .circles ul {
    width: 160px;
    height: 50px; }
    .circles ul li {
      float: left;
      width: 23px;
      height: 23px;
      margin-left: 25px;
      border-radius: 10px;
      border: 1px solid #288285;
      background-color: #288285; }
    .circles ul .selected {
      background-color: #ffffff;
      border: 1px solid #ffffff; }

.carousel_screen {
  width: 100%;
  height: 150px;
  z-index: 1;
  background-color: #222;
  opacity: 0.5;
  position: absolute;
  top: 450px;
  left: 0; }

.display {
  margin-top: 30px;
  margin-bottom: 95px;
  width: 1340px;
  height: 240px;
  cursor: default; }
  .display ul {
    width: 100%;
    height: 240px; }
    .display ul li {
      float: left;
      width: 280px;
      height: 240px;
      margin-left: 48px; }
      .display ul li .div {
        width: 280px;
        height: 240px;
        background-color: #f7f5f5;
        box-shadow: 10px 10px 10px #c0c4c2; }
        .display ul li .div img {
          padding: 11px 11px 0 11px; }
        .display ul li .div p {
          padding: 11px 11px 11px 11px;
          text-align: center;
          font-size: 16px; }
          .display ul li .div p:first-child {
            border-bottom: 1px dashed #288285; }
          .display ul li .div p:last-child {
            text-align: right; }

.news {
  width: 100%;
  height: auto; }
  .news p[class="title"] {
    margin-left: 147px;
    background-color: #fdf8f8;
    width: 1040px;
    height: 53px;
    line-height: 53px; }
    .news p[class="title"] span {
      width: 150px;
      height: 40px;
      font-size: 24px; }
      .news p[class="title"] span:first-child {
        float: left;
        margin-left: 15px;
        cursor: default; }
      .news p[class="title"] span:last-child {
        margin-left: 700px;
        cursor: default; }
  .news .news_list {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    background-color: #ffffff; }
    .news .news_list .news_item {
      width: 100%;
      height: 170px; }
      .news .news_list .news_item .img {
        float: left;
        margin: 33px 0 0 147px; }
      .news .news_list .news_item .detail {
        margin-left: 357px;
        padding: 33px 0 0 0;
        width: 830px;
        height: 106px;
        cursor: default; }
        .news .news_list .news_item .detail .news_head {
          width: 830px;
          height: 30px;
          line-height: 30px; }
          .news .news_list .news_item .detail .news_head span[class="title"] {
            width: 300px;
            height: 30px;
            margin-top: 0px;
            float: left;
            font-size: 22px;
            color: #222; }
          .news .news_list .news_item .detail .news_head span[class="date"] {
            margin-left: 380px;
            font-size: 16px;
            color: #a4c3c4; }
        .news .news_list .news_item .detail .news_detail {
          color: #666;
          font-size: 14px;
          margin: 15px 0 5px 0; }
        .news .news_list .news_item .detail .more a {
          display: block;
          width: 200px;
          height: 50px;
          font-size: 18px;
          color: #222;
          margin-left: 700px; }

/*# sourceMappingURL=../maps/page/index.css.map */
