@import '../common/global-set';


.outer{
	width:100%;
	maring:0;
	padding:0;
	margin-top:14px;
	border-top: solid 9px #54bfbc;
	color:black;
}
.global_center{
	width:1042px;
	margin:0 auto;
}
.vertical_line{
	margin-left:43px;
	border-left:solid 8px #54bfbc;
	border-right:solid 8px #54bfbc;
	width:82px;
	height:36px;
}
.list_text{
	width:164px;
	height:47px;
	line-height:47px;
	font-size:22px;
	text-align:center;
	font-weight:500;
	background-color:#54bfbc;
	color:white;
	float:left;
	margin-bottom:40px;
	position:relative;
}
.child_title{
            width:100px;
            height:30px;
            display:block;
			color:#060606;
			font-size:24px;
			position:absolute;
			
		}
.title{
	clear:both;
	background-color:#497D92;
	width:100%;
	height:42px;
	color:white;
	line-height:58px;
	padding-left:44px;
}
.title div{
		border-left:solid 2px white;
		font-size:20px;
		line-height:42px;
		float:left;
		text-align: center;
}
.title_author{
	width:120px;
}
.title_time{
	width:158px;
}
.title_name{
	width:72%;
}
#content li{
	border-bottom:solid 6px #497D92;
	height:145px;
	width:100%;
	cursor:default;
	span{
		display:inline-block;
        display:-moz-inline-block;
	}
	.index{

		line-height:140px;
		margin-left:20px;
		color:#497D92;
		font-size:20px;
		float: left;
		
	}
	.author{
	    width:120px;
		margin-left:13px;
		font-size: 16px;
		line-height:140px;
		float:left;
		text-align:center;
		
	}
	.name{
	    
		color:#383838;
		width:69%;
		float:left;
		font-size: 10px;
		font-weight:400;
		line-height:18px;
		height:140px;
		padding-left:5px;
        text-align:left;
		span{
		    margin:0;
			color:#497D92;
			font-size:20px;
			display:block;
			width:100%;
			height:30%;
			padding-top:10px;
            cursor:pointer;
		}
		.h2{
			color:#497D92;
			font-size:14px;
			margin-top:10px;
		}
	}
	.time{
	    
		line-height:140px;
		color:#497D92;
		
		float:right;
        width:158px;
        
	}
}
.load{
	margin:0 auto;
	margin-top:50px;
	margin-bottom:50px;
	width:200px;
	height:70px;
	color:white;
	line-height:70px;
	text-align:center;
	font-size:24px;
	background-color:#54BEB2;
	-webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px; 
    cursor:pointer;
    -webkit-text-shadow: black 0 3px 4px;
    -moz-text-shadow: black 0 3px 4px;
    text-shadow: black 0 3px 4px;         
}