%px{
	margin:0;
	padding:0;
}

body,ul,a{
	@extend %px;
}

.main{
	@extend %px;
	width:100%;
	height:auto;
	.top{
		margin-top:14px;
		.solid{
			width:100%;
			height:13px;
			background-color:#54bfbc;
		}
		.solids{
			width:100%;
			height:35px;
			.one{
				width:10px;
				height:35px;
				background-color:#54bfbc;
			}
			#left{
				float:left;
				margin-left:195px;
			}
			#right{
				margin-left:270px;
			}
		}
		.board{
			width:160px;
			height:45px;
			line-height:45px;
			background-color:#54bfbc;
			color:#060606;
			font-size:24px;
			text-align:center;
			//font-weight:bold;
			letter-spacing:2px;
			margin-left:153px;
		}
	}
	.news{
	    @extend %px;
	    margin-top:20px;
	    width:100%;
	    height:auto;
	    .news_list{
		    width:100%;
		    height:auto;
		    background-color:#ffffff;
		    .news_item{
			    width:100%;
			    height:170px;
			    .img{
				    float:left;
                    margin:33px 0 0 153px;
		        }
			    .detail{
			        @extend %px;
				    margin-left:360px;
				    padding:33px 0 0 0;
				    width:830px;
				    height:106px;
				    cursor:default;
				   .news_head{
					    width:830px;
					    height:30px;
					    line-height:30 px;
						span[class="title"]{
						    width:300px;
						    height:30px;
						    margin-top:0;
			                float:left;
							font-size:22px;
						    color:#222;
					    }
					    span[class="date"]{
						    margin-left:400px;
							font-size:16px;
							color:#a4c3c4;						
						}
				    }
				    .news_detail{
						color:#666;
						font-size:14px;
						margin:15px 0 5px 0;
					}
		            .more{
			            width:200px;
			            height:50px;
			            font-size:18px;
			            color:#222;
			            margin-left:700px;  
			            cursor:pointer;
			            span{
				            display:block;
			            }        
		            }
			    }
		    }
	    }
    }
    .addMore{
	    @extend %px;
	    width:195px;
	    height:67px;
	    margin:40px 0 32px 590px;
        #add{
	        width:195px;
	        height:67px;
	        background-color:#54bfbc;
	        border:0;
	        color:#f9fafc;
	        font-size:20px;
	        letter-spacing:1px;
	        text-shadow:2px 2px 2px #333;
	        border-radius:5px;
        }
         
    }
}