$family:"微软雅黑";
%px{
	margin:0;
	padding:0;
}

body,ul,span{
	@extend %px;
}

.outer{
	width:100%;
	margin-top:14px;
	border-top: solid 9px #54bfbc;
	color:black;
}
.global_center{
	width:1042px;
	margin:0 auto;
}
.vertical_line{
	margin-left:43px;
	border-left:solid 8px #54bfbc;
	border-right:solid 8px #54bfbc;
	width:82px;
	height:36px;
}
.list_text{
	
	width:164px;
	height:47px;
	line-height:47px;
	font-size:22px;
	text-align:center;
	font-weight:500;
	background-color:#54BEB2;
	color:white;
}
	.content{ 
		width:1042px;
		height:1005px;
		@extend %px;
		margin:0 auto;
		.news_title{
		    margin-top:34px;
			width:1042px;
			height:108px;
			p{
				&:first-child{
					width:1042px;
					height:58px;
					line-height:58px;
					background-color:#497d92;
					span{
						&:first-child{
							color:#e0e2e5;
							font-size:20px;
							display:inline;
							margin-left:45px;
						}
						&:last-child{
							color:#f5f1f2;
							font-size:28px;
							display:inline;
							margin-left:330px;
						}
					}
				}
				&:last-child{
				    width:1042px;
				    height:40px;
				    line-height:40px;
	                text-align:center;
	                color:#555;
	                font-size:14px;
	                span{
	                    display:inline;
		                &:first-child{
	                        margin-right:50px;
		                }
	                }

				}
			}
		}
		.contentList{
			width:100%;
			height:90%;
			.news_content{
				width:100%;
				height:100%;
				padding:34px 0 30px 0;
				p{  
				    padding:0 20px 0 20px;
				    width:100%;
				    height:97%;
					overflow:hidden;
					color:#1e1e1e;
					font-size:18px;
				}
			}
		}
		
	}
	.footer{
		width:100%;
		height:65px;
		margin:0 auto;
		margin-bottom:30px;
		background-color:#54bfbc;
		p{
		    width:50%;
		    height:65px;
		    line-height:65px;
	        margin:0 auto;
	        cursor:default;
			.text{
				
					display:inline-block;
					font-size:20px;
				    letter-spacing:1px;
				    margin: 0 40px 0 40px;
				
				
			}
			.text-1{
			
					display:inline-block;
					margin-left:55px;
				    font-size:12px;
				    color:#060606;
					
				
			}
			#behind{
	            a{
		            display:inline-block;
		            color:#060606;
	            }
			}
			#font{
	            a{
		            display:inline-block;
		            color:#060606;
	            }
			}
			a:hover{
				color:#060606;
			}
			.page{
			    display:inline-block;
				width:20px;
				height:28px;
				line-height:28px;
				margin:0 5px 0 5px;
				border:0;
				font-family:12px;
                padding:1px 1px;
				background-color:#fcf7f7;
			}
		}
	}
