$global-w:980px;
$global-fontbg:#f8f8f8;
$global-font:#5c5c5c;
$global-bg:#00caab;
$bg-color: #34495e;
$family:"微软雅黑";
/*to 980px center*/
.global-center{
  margin-left: auto;
  margin-right: auto;
  width: $global-w;
}
/*for ie6/7*/
.inline-block{
  display:inline-block;
  *display:inline;
  *zoom:1;
}